---
---

@import "{{ site.theme }}";

header a.button .avatar {
  position: absolute;
  top: 16px;
  left: 12px;
}

@media only screen and (max-width: 767px) {
  header a.button .avatar {
    display: none;
  }
}

header, a.button,
#main-content h1, #main-content h2, #main-content h3,
#main-content h4, #main-content h5, #main-content h6 {
  font-family: 'Linux Biolinum', 'Helvetica Neue', Helvetica, Arial, serif;
  font-feature-settings: "liga";
}

header h1 {
  font-feature-settings: "smcp";
}

body, .iis-caption {
  font-family: 'Linux Libertine', 'Helvetica Neue', Helvetica, Arial, serif;
  font-feature-settings: "liga";
}

@media only screen and (min-width: 768px) {
  #main-content ul#markdown-toc {
    position: absolute;
    right: 0px;
    top: 3em;
    width: 200px;
    list-style-type: none;
    padding-left: .5em;
  }
  #main-content ul#markdown-toc ul {
    list-style-type: none;
    padding-left: .5em;
  }
  #main-content ul#markdown-toc ul li {
    border-left: 4px solid #ddd;
    padding-left: .5em;
  }
  #main-content ul#markdown-toc ul li+li {
    border-top: thin solid #ddd;
  }
}

/* Headers shift */

#main-content h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.8em;
  font-weight: normal;
  color: #474747;
  text-indent: 6px;
  letter-spacing: -1px;
}

#main-content h2:before {
  padding-right: 0.3em;
  margin-left: -0.9em;
  color: #9ddcff;
  content: "/";
}

#main-content h3 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #474747;
  text-indent: 4px;
}
#main-content h3:before {
  padding-right: 0.3em;
  margin-left: -1.5em;
  content: "//";
  color: #9ddcff;
}

#main-content h4 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #474747;
  text-indent: 3px;
}

#main-content h4:before {
  padding-right: 0.3em;
  margin-left: -2em;
  content: "///";
  color: #9ddcff;
}

#main-content h5 {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
  color: #474747;
  text-indent: 3px;
}

h5:before {
  padding-right: 0.3em;
  margin-left: -2.8em;
  content: "////";
  color: #9ddcff;
}

#main-content h6 {
  margin-bottom: 8px;
  font-size: 14px;
  color: #474747;
  text-indent: 3px;
}
h6:before {
  padding-right: 0.3em;
  margin-left: -3.2em;
  content: "/////";
  color: #9ddcff;
}

